/*No tocar este codigo*/ 
.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -210px;
}

/*Escribe aqui tu codigo */
body {
	background-color: whitesmoke;
}
.showback, .ds, .content-panel, .form-panel {
	background-color: white;
	box-shadow: 1px 3px 5px 1px rgba(159, 159, 159, 0.66);
	-moz-box-shadow: 1px 3px 5px 1px rgba(159, 159, 159, 0.66);
	-webkit-box-shadow: 1px 3px 5px 1px rgba(159, 159, 159, 0.66);
}
.showback, .content-panel, .form-panel {
	padding: 1%;
    margin-bottom: 3%;
}
/*header*/
*a {
	color: #428bca;
	text-decoration: none;
}
.logo:hover {
	color: #9c4c9d;
	text-decoration: none;
	text-shadow: 2px 2px 1px #9c4c9d;
}
.header {
	color: white;
	width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	z-index: 5;
	padding: 10px;
	background-color: #424a5d
}
/*fin header*/
/*side-bar*/
.sidebar-toggle-box {
	display: inline-block;
	font-size: 20px;
	margin-right: 2%;
}
.logo {
	color: white;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
}
.top-menu {
	display: inline;
	padding: 0;
}
.logout {
	color: white;
	font-size: 20px;
	background-color: #9c4c9d;
	border-radius: 15px;
}
#sidebar {
	background-color: #424a5d;
	color: whitesmoke;
	display: inline-block;
	position: fixed;
	height: 100%;
	top: 68px;
    left: 0;
    z-index: 5;
    width: 210px;
}
.sidebar-menu { 
	padding: 0;
}
.sub-menu {
	list-style: none;
	margin: 10px 5px;
	padding: 10px 30px;
}
.sub-menu a{
	color: whitesmoke;
	text-decoration: none;
}
.sub-menu:hover {
	background-color: #9c4c9d;
}
.sub-menu:active {
	background-color: #e26eab;
}
/*aside fin*/
/*main content*/
#main-content {
	margin-: 68px;
	padding: 1% 2%;
	color: #989898;
	margin-left: 210px;
	margin-top: 68px;
}
#mg-0 {
	margin-top: 0%;
}
.box1 .fa {
	font-size: 30px;
}
.box0 {
	text-align: center;
}
.box0:hover {
	background-color: white;
	padding: 0;
	box-shadow: 1px 3px 5px 1px rgba(159, 159, 159, 0.66);
	-moz-box-shadow: 1px 3px 5px 1px rgba(159, 159, 159, 0.66);
	-webkit-box-shadow: 1px 3px 5px 1px rgba(159, 159, 159, 0.66);

}
.box1 {
	padding: 0% 1%;
    border-bottom: 1px solid #a3a3a3;
}
.box0:hover .box1{
	border: none;
}
.box0 p {
	visibility: hidden;
	font-size: 12px;
}
.box0:hover p {
	visibility: visible;
	color: #ffa98c;
}
/*col-m3 ds*/
.ds h3{
	background-color: #9c4c9d;
    padding: 3% 2%;
    color: whitesmoke;
    font-size: 20px;
}
.bg-theme {
	background-color: #68dff0;
	margin-top: -71px;
}
.ds .desc {
	border-bottom: 1px solid gray;
	padding: 1% 0%;
}
.ds .desc:hover {
	background-color: whitesmoke;
	border: none;
	box-shadow: 1px 3px 5px 1px rgba(159, 159, 159, 0.66);

}
.details, .thumb {
	display: inline-block;
}
.details {
	width: 209px;
}
.img-circle {
	margin-top: -22px;
}
/*fin ds*/
/*galeria*/
.photo-wrapper {
	margin-bottom: 10%;
}
.form-login {
	background-color: white;
	margin-top: 10%;
}